<div class="container">
  <div class="row">
    <div class="col-md-6">
<<<<<<< HEAD
      <div class="signup-img-wrapper">
        <h3><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong></h3>
        <p>Duis id accumsan augue. Cras tempus scelerisque arcu eu eleifend. Quisque vel rhoncus ligula. Nunc fermentum rutrum enim, ut pretium risus. Sed aliquet justo eget dolor pellentesque egestas.</p>
        <p class="signup-image"><%= image_tag("guardanapo.png", width: '470') %></p>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Cadastre-se agora</h3>
=======
      <h2>Sign up</h2>
>>>>>>> master

      <%= simple_form_for(resource, url: user_registration_path) do |f| %>
        <%= f.error_notification %>

        <% if resource.errors.any? %>
          <div class="errors-container">
            <ul>
              <% resource.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-inputs">
          <div class="row">
            <div class="col-md-6">
              <%= f.input :first_name, label:false, placeholder: "Primeiro nome", required: true, autofocus: true %>
            </div>
            <div class="col-md-6">
              <%= f.input :last_name, label:false, placeholder: "Segundo nome", required: true %>
            </div>
            <div class="col-md-6">
              <%= f.input :phone_number, label:false, placeholder: "Número de telefone", required: true %>
            </div>
            <div class="col-md-6 field-select-signup-wrap">
              <%= f.select :role, ["Profissional", "Organizador"], { required: true }, { class: 'field-select-signup' } %>
            </div>
            <div class="col-md-12">
              <%= f.input :email, label:false, placeholder: "Digite seu email", required: true %>
            </div>
            <div class="col-md-12">
              <%= f.input :password, label:false, placeholder: "Digite uma senha",  required: true, hint: ("Mínimo de #{@minimum_password_length} caracteres" if @minimum_password_length) %>
            </div>
            <div class="col-md-12">
              <%= f.input :password_confirmation, label:false, placeholder: "Digite novamente sua senha", required: true %>
            </div>
          <%= f.file_field :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Cadastrar", :class=>'btn-signup' %>
        </div>
      <% end %>

    </div>
    <div class="col-md-6">
      <p class="signup-image"><%= image_tag("garcom.png") %></p>
    </div>

  </div>
</div>
