<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="professional-profile-wrap">
        <%= link_to edit_user_registration_path do %>
          <i class="fa fa-pencil edit-icon" aria-hidden="true"></i>
          <% end %>
        <%= cl_image_tag @professional.photo, width: 300, crop: :fill %>


        <ol class="list-unstyled">
          <li><strong>Nome:</strong> </br><%= @professional.first_name + " " + @professional.last_name%></li>
          <li><strong>Email:</strong> </br><%= @professional.email %></li>
          <li><strong>Telefone:</strong> </br><%= @professional.phone_number %></li>

          <li><strong>Disponibilidade:</strong> </br>
            <%= @professional.availability %>
          </li>

          <li><strong>Habilidades:</strong> </br><%= @professional.category.name %></li>
          <li><strong>Hora:</strong> </br><%= @professional.price_per_hour %></li>
          <li><strong>Localização:</strong></br><%= @professional.city %></li>
        </ol>
      </div>
    </div>

  <div class="col-md-8">

      <h4>Próximos jobs</h4>

      <table class="table">
        <thead>
          <tr>
            <th>Event</th>
            <th>Location</th>
            <th>Date</th>
            <th>Price</th>
            <th>Status:</th>
          </tr>
        </thead>
        <tbody>
          <% @professional.jobs.each do |job| %>
            <div>
              <tr>
                <td><%= job.event.title %></td>
                <td><%= job.event.location %></td>
                <td><%= job.event.date %></td>
                <td><%= job.price %></td>
                <td>
                  <div data-job-buttons="<%= job.id %>" style="margin: 0px; padding: 0px;">
                    <% if job.accepted? %>
                      <% if job.done? %>
                        <p><i class="fa fa-dot-circle-o" aria-hidden="true"></i>  Done</p>
                      <% else %>
                        <p><i class="fa fa-check-square-o" aria-hidden="true"></i>  Accepted</p>
                      <% end %>
                    <% elsif job.accepted == false %>
                        <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  Declined</p>
                    <% else %>
                      <%= link_to  "Aceitar", job_accept_path(job), method: :patch, class: "btn btn-success", remote: true %>
                      <%= link_to "Recusar", job_decline_path(job), method: :patch, class: "btn btn-danger", remote: true %>
                    <% end %>
                  </div>
                </td>
              </tr>
            </div>
          <% end %>
        </tbody>
      </table>
</div>
</div>

</div>

