<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="organizer-profile-wrap">

      <%= cl_image_tag @organizer.photo, width: 200, height: 200, crop: :fill, class: "profile-pic"%>
      <div class="head-organizer-profile">
        <h4>Perfil : <%= link_to edit_user_registration_path do %>
          <i class="fa fa-pencil edit-icon" aria-hidden="true"></i>
          <% end %>
        </h4>

       </div>


      <ol class="list-unstyled">
        <li><strong>Nome: </strong><%= @organizer.first_name + " " + @organizer.last_name%></li>
        <li><strong>Email: </strong><%= @organizer.email %></li>
        <li><strong>Telefone: </strong><%= @organizer.phone_number %></li>
      </ol>
    </div>
    </div>

    <div class="col-md-6">
      <div class="organizer-events-wrap">
        <div class="head-organizer-events">
        <h3>Meus eventos</h3>

        <button type="button" class="navbar-easy-item navbar-easy-link btn-new-event" data-toggle="modal" data-target=".bs-example-modal-lg">Novo evento</button>
      </div>

    <table class="table">
      <thead>
        <th>Evento</th>
        <th>Lugar</th>
        <th>Data</th>
      </thead>
      <tbody>
        <% @organizer.events.each do |event| %>
        <tr>
          <td><%= link_to event.title, event_path(event) %></td>
          <td><%= event.location %></td>
          <td><%= event.date %></td>
        </tr>
        <% end %>
      </tbody>
      </table>
      </div>
    </div>
  </div>
</div>



<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <%= render template: "events/new" %>
    </div>
  </div>
</div>

