<div class="container">

  <h1>Organizer dashboard</h1>
  <%= link_to "Edit profile", edit_user_registration_path %>
  <%= cl_image_tag @organizer.photo, height: 300, width: 400, crop: :fill %>
  <h2>My personnal information:</h2>

  <ol class="list-unstyled">
    <li><strong>Name: </strong><%= @organizer.first_name + " " + @organizer.last_name%></li>
    <li><strong>Email: </strong><%= @organizer.email %></li>
    <li><strong>Phone Number: </strong><%= @organizer.phone_number %></li>
  </ol>


  <h2>My next events</h2>

  <ul class="list list-inline">
    <% @organizer.events.each do |event| %>
      <li><%= link_to event.title, event_path(event) %></li>
      <li><%= event.location %></li>
      <li><%= event.date %></li>

      <table class="table">
        <thead>
          <th>Job</th>
          <th>Price</th>
          <th>Status:</th>
          <th>Professional:</th>
        </thead>
        <tbody>
          <% event.jobs.each do |job| %>
            <tr>
              <td><%= job.professional.category %></td>
              <td><%= job.price %></td>
              <td>
                <% if job.accepted? %>
                  <% if job.done? %>
                    done
                  <% else %>
                    accepted
                  <% end %>
                <% else %>
                  Acceptation pending
                <% end %>
              </td>
              <td><%= job.professional.first_name + job.professional.last_name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>
  </ul>
</div>
