<% if professional.class != User %>
  <% professional = professional[0] %>
<% end %>
<%= link_to user_path(professional), class: "card-link" do %>
  <div class="card" >
    <div class="row">
      <div class="col-xs-4 card-profile">
        <%= cl_image_tag professional.photo, width: 140, height: 140, crop: :thumb, gravity: :face %>
      </div>

      <div class="col-xs-4 card-information">
        <div>
          <p class="card-name"><strong><%= professional.first_name %> <%= professional.last_name %></strong> - <%= professional.city  %></p>
          <p class="card-category"></p>
          <p><%= professional.category.name%></p>
        </div>
      </div>

      <div class="col-xs-4 card-price">
        <div>
          <p>R$ <%= professional.price_per_hour %> / h</p>
        </div>
      </div>
    </div>
  </div>
<% end %>



