<div class="container">
  <div class="navbar-easy">
    <!-- Logo -->
    <a href="/" class="navbar-easy-brand">
      <%= image_tag ( "logo_easy.png") %>
    </a>

    <!-- Right Navigation -->
    <div class="navbar-easy-right hidden-xs hidden-sm">
      <% if user_signed_in? %>
        <% if current_user.role == "Professional" %>
          <%= link_to "Perfil", professionals_path, class: "navbar-easy-item navbar-easy-link" %>
        <% else %>
          <%= link_to "Perfil", organizers_path, class: "navbar-easy-item navbar-easy-link" %>
          <%= link_to "Novo evento", new_event_path, class: "navbar-easy-item navbar-easy-link" %>
        <% end %>
        <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "navbar-easy-item navbar-easy-link" %>
      <% else %>
        <%= link_to "Entrar", new_user_session_path, class: "navbar-easy-item navbar-easy-link" %></a>
        <%= link_to "Cadastrar-se", new_user_registration_path, class: "navbar-easy-item navbar-easy-link" %></a>
        <%= link_to "Seja um profissional", new_user_registration_path, class: "btn btn-primary btn-easy" %></a>
      <% end %>

      <!-- Profile picture with dropdown list -->

    </div>
  </div>
</div>


