<div class="container">
  <div class="row row-professional-show">
    <div class="col-xs-5">
      <% unless @professional.category.nil? %>
      <%= cl_image_tag @professional.photo, width: 450 %>
    </div>

    <div class="col-xs-7">
      <div class="info-professional-wrap">
        <h4>
          <%= @professional.first_name + " " + @professional.last_name %>
        </h4>
        <p>
          <%= @professional.category.name %>
        </p>
        <p>
          Disponibilidade:
          <%= @professional.availability %>
        </p>
        <p>
          Tarifa:
          R$ <%= @professional.price_per_hour %>/H
        </p>
        <p>Area de atuação:
          <%= @professional.city %>
        </p>
        <% if user_signed_in? == false || current_user.role == "Organizador"%><% end %>
        <p><%= link_to "Enviar uma proposta de job", new_user_job_path(@professional), class: "btn-easy btn-proposta" %></p>
      </div>
    </div>





  <div class="col-xs-12">
    <div class="avaliacao-wrap">
    <h5><strong>Avaliações:</strong></h5>
    <% if (@jobs == nil) || (@jobs == []) %>
      <p><em><%= @professional.first_name %> ainda não tem sido avaliado!</em></p>
    <% else %>
      <% @jobs.each do |job| %>
        <% if job.done %>
          <p>----------------------------------------------------------</p>
          <% if job.rating %>
            <p>Por <strong><%= job.event.organizer.first_name + " " + job.event.organizer.last_name %></strong> - <%= job.event.date %></strong></p>
            <p>Nota : <%= job.rating %></p>
            <p>"<%= job.comment %></p>
          <% else %>
            <p><%= @professional.first_name %>trabalhou no <strong><%= job.event.date %></strong> no evento do <strong><%= job.event.organizer.first_name + " " + job.event.organizer.last_name %></strong>, quem não deixou avaliação ainda.</p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
</div>
<div class="col-xs-12">

  <p><%= link_to "Back to home", root_path %></p>

</div>
</div>
</div>
